body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.image-list {
    display: grid;          
    grid-template-columns: repeat(3,1fr);        
    gap: 30px 40px; /* Space between the items */
    width: 650px;              
    margin-left: 0px !important;
}

.custom-main {
    margin-left: 50px;
}


.image-item img {             
    height: auto;            
    border-radius: 8px;      
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.1); 
}

.nav-link.active {
    color:white;
}

.alert-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 5000;
}

.alert {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    opacity: 1;
    visibility: visible;
}

.alert-success {
    background-color: #28a745; /* Green */
}

.alert-error {
    background-color: #dc3545;
}

.container {}